<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wangzg.community.mapper.UserRoleMapper">
    <insert id="add" useGeneratedKeys="true" >
        insert into  tb_user_role (user_id,role_id) values (#{userId},#{roleId})
    </insert>

    <delete id="deleteByuserId">
        DELETE FROM tb_user_role WHERE user_id = #{userId}
    </delete>



</mapper>